* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-background: #ececec;
    --section-padding: 100px;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* header */
.header {
    background-color: white;
    position: relative;
    justify-content: space-between;
    --webkit-box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}

.header .container .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 73px;
    /*عشان يفضل طوله ثابت مهما حصل تغيير قدام */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width :767px) {
    .header .container .logo {
        width: 100%;
        /* خليناها بعرض الشاشة عشان انا عامل wrap فوق فا اللى جمبه هينزل */
        height: 50px;
    }

}

.header .container .main-nav {
    display: flex;
}

@media(max-width :767px) {
    .header .container .main-nav {
        margin: auto;
    }
}

.header .container .main-nav>li>a {
    padding: 0 30px;
    display: flex;
    text-align: center;
    align-items: center;
    height: 73px;
    color: black;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
    font-size: 20px;

}

@media(max-width :767px) {
    .header .container .main-nav>li a {
        font-size: 14px;
        padding: 10px;
        height: 40px;
    }
}

.header .container .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    /*بطلع الخط برا الشكل عشان لما اعمله hovr يرجع تدريجى ويبقا على الشكل */
    transition: var(--main-transition);
}

.header .container .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;

}

.header .container .main-nav>li>a:hover::before {
    left: 0;
}

.header .container .main-nav li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

}

.header .mega-menu .image img {
    max-width: 100%;
}

@media(max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
    text-align: start;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;

    }

}

.header .mega-menu .links li::before {
    content: "";
    background-color: #fafafa;
    width: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 17px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

.landing {
    position: relative;

}

.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .container .text-box {
    flex: 1;
}

@media (max-width : 991px) {
    .landing .container .text-box {
        text-align: center;
    }
}

.landing .container .text-box h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width : 767px) {
    .landing .container .text-box h1 {
        font-size: 28px;
    }
}

.landing .container .text-box p {
    font-size: 23px;
    margin: 5px 0 0;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}

@media (max-width : 767px) {
    .landing .container .text-box p {
        font-size: 18px;
    }
}

@media (max-width : 991px) {
    .landing .container .text-box p {
        margin: 10px auto;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width : 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    100% {
        border-radius: 0;
        height: 100%;
        width: 52%;
        left: 0;

    }

    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
}

@keyframes right-move {
    100% {
        border-radius: 0;
        height: 100%;
        width: 52%;
        right: 0;

    }

    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
    }
}

.main-title {
    margin: 0 auto 80px;
    padding: 10px 20px;
    position: relative;
    width: fit-content;
    border: 2px solid black;
    font-size: 30px;
    text-transform: uppercase;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    border-radius: 50%;
    background-color: #1787e0;
    top: 50%;
    position: absolute;
    height: 12px;
    transform: translateY(-50%);
    transition: var(--main-transition);
}

.main-title::before {
    left: -50px;
}

.main-title::after {
    right: -50px;
}

.main-title:hover {

    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    /*بخلى الحاجة تتعمل بعد نص ثانية */
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.article {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.article .box-content {
    border: 1px solid #e9e6e6;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow var(--main-transition);
}

.article .box-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

}

.article .box-content img {
    max-width: 100%;
    width: 100%;
}

.article .box-content .text-box {
    padding: 20PX;
}

.article .box-content .text-box h3 {
    margin: 0;
}

.article .box-content .text-box P {
    line-height: 1.5;
    margin: 10px 0 0;
    color: #777;

}

.article .box-content .foot-content {
    border-top: 1px solid #e6e6e7;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article .box-content .foot-content a {
    font-weight: bold;
    color: var(--main-color);
}

.article .box-content .foot-content i {
    color: var(--main-color);
    font-size: 10px;

}

.article .box-content:hover .foot-content i {
    animation: moving-arrow 0.6s linear infinite;
}

/* gallery */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery .boxes {
    background-color: white;
    padding: 15px;
    box-shadow: 0 12px 20px 0px rgb(0, 0, 0, 0.13), 0 2px 4px 0px rgb(0, 0, 0, 0.12);

}

.gallery .boxes .image {
    position: relative;
    overflow: hidden;
}

.gallery .boxes .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .boxes .image:hover::before {
    animation: flash 0.7s;
}

.gallery .boxes .image:hover img {
    transform: rotate(5deg) scale(1.1);

}

.gallery img {
    max-width: 100%;
    transition: var(--main-transition);
}

/* features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .box {
    border: 1px solid #ccc;
    text-align: center;
}

.features .box .image-hold {
    position: relative;
    overflow: hidden;
}

.features .box .image-hold::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.features .box .image-hold::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .image-hold:hover::after {
    border-width: 170px 500px 170px 0;
}

.features img {
    max-width: 100%;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
}

.features .box p {
    margin: 30px 0;
    padding: 25px;
    font-size: 20px;
    color: #777;
    line-height: 2;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 7px;
    margin: 0 auto 30px;
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transition);
}

.features .quality .image-hold::before {

    background-color: rgb(244, 64, 54, 0.6);
}

.features .quality h2::after {
    background-color: #F44036;
}

/* ده معناه هقسم الشاشة نصين نص احمر ونص ابيض بس النص الابيض هيبقا طاغى عشان لما اعمل hover اخلى الاحمر اللى طاغى */
.features .quality a {
    color: #F44036;
    border: 3px solid #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .time .image-hold::before {

    background-color: rgb(0, 150, 136, 0.6);
}

.features .time h2::after {
    background-color: #009688;
}

/* ده معناه هقسم الشاشة نصين نص احمر ونص ابيض بس النص الابيض هيبقا طاغى عشان لما اعمل hover اخلى الاحمر اللى طاغى */
.features .time a {
    color: #009688;
    border: 3px solid #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .image-hold::before {

    background-color: rgb(3, 169, 244, 0.6);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

/* ده معناه هقسم الشاشة نصين نص احمر ونص ابيض بس النص الابيض هيبقا طاغى عشان لما اعمل hover اخلى الاحمر اللى طاغى */
.features .passion a {
    color: #03a9f4;
    border: 3px solid #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/* testimonials */
.Testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}

.Testimonials .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Testimonials .container .test-content {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    border-radius: 6px;

}

.Testimonials .container .test-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -50px;
    border: 10px solid var(--section-background);

}

.Testimonials .container .test-content h3 {
    margin-bottom: 10px;
}

.Testimonials .container .test-content .title {
    margin-bottom: 10px;
    display: block;
    color: #777;
}

.Testimonials .container .test-content .filled {
    color: #ffc107;
}

.Testimonials .container .test-content p {
    margin: 10px 0;
    line-height: 1.5;
    color: #777;
}

/* team-member */
.Team-Member {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.Team-Member .container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Team-Member .container .box-content {
    position: relative;
}

.Team-Member .container .box-content::before,
.Team-Member .container .box-content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}

.Team-Member .container .box-content::before {
    width: calc(100% - 60px);
    z-index: -2;
    background-color: #f3f3f3;
}

.Team-Member .container .box-content:hover::after {
    width: calc(100% - 60px);

}

.Team-Member .container .box-content::after {
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;

}

.Team-Member .container .box-content .img-icon {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.Team-Member .container .box-content .img-icon .icons {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Team-Member .container .box-content .img-icon .icons a {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.Team-Member .container .box-content .img-icon .icons a:hover i {
    color: var(--main-color);
}

.Team-Member .container .box-content .img-icon .icons i {
    color: #777;
    transition: var(--main-transition);

}

.Team-Member .container .box-content img {
    width: calc(100% - 60px);
    /*مكان رص الايقونات */
    transition: var(--main-transition);
    border-radius: 10px;
}

.Team-Member .box-content:hover img {
    filter: grayscale(100%);
}

.Team-Member .box-content .text-box {
    line-height: 1.5;
    padding: 20px 80px;
}

.Team-Member .box-content .text-box h3 {
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}

.Team-Member .box-content .text-box {
    margin-top: 10px;
}

.Team-Member .box-content:hover .text-box h3 {
    color: #777;
}